body {
    background: #262628;
    color: #fff;
}



.block {
    background: #fbfce4;
    height: 100px;
    width: auto;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.842);

    position: fixed;
    left: 50%;
    right: 15px;
    bottom: 100px;
}

.circle {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(170, 11, 11);
    border-radius: 50%;
    margin: -50px 60px;
    
}