body {
    font-size: 40px;
}

*{
    box-sizing: border-box;
}

.block-1 {
    background-color: rgb(188, 216, 239);
    border-radius: 20px 0 0 20px;
    overflow: auto;
    height: 1100px;
}

.block-2 {
    background-color: rgb(171, 144, 94);
    width: 540px;
    height: 500px;
    padding: 30px;
    margin: 20px;
    display: inline-block;
    padding: -10px ;
    margin: 10px;
    border-radius: 60px;
    box-shadow: inset 0 0 100px 1px #000
}



