:root {
    --accent-color: rgb(73, 132, 240);
    --transition: all .4s;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 5vw;
}
.body {
    font-family: "Inter", "Arial", sans-serif;
    line-height: 17px;
    color:#000000; ;
    background: #fff;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}
.title {
    font-family: "Readex_Pro";
}

/* =========================================== */

.main__about {
    margin-top: 55px;
}
.main__catalog {
    margin-top: 85px;
}
.main__products {
    margin-top: 80px;
}
.main__popular {
    margin-top: 75px;
}
.main__ideas {
    margin-top: 75px;
}