body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    font-size: 5rem;
}

.wrapper {
    padding: 50px;
    min-height: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

/* ====================================================== */
.title::before {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(170, 11, 11);
    border-radius: 50%;
    margin: -50px 60px;
}

.title::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(170, 11, 11);
    border-radius: 50%;
    margin: -50px 60px;
    box-shadow: 0 0 1px 5px #fff;
    transform: translateX(-200px) translateY(50px);
}
.title::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(75, 11, 170);
    border-radius: 50%;
    margin: -50px 60px;
    box-shadow: 0 0 1px 5px #fff;
    transform: translateX(-15px) translateY(50px);
}